.contain{
    background-image: url("./../../../../assets/Admin.avif");
    background-size: cover;
    height:600px; 
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ptag{
    margin-left:10px;
    padding-left: 10px;
    font-style: italic;
    height:100px;
    font-weight: bold; 
    color: black;
    font-size: 44px; 
}
