<div class="bootstrap-wrapper">

  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card appearance="outlined">
          <h1 class="text-center">Password Reset !!</h1>

          <form (ngSubmit)="formSubmit()">

            <!-- username field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Existing User Name</mat-label>
              <input
                [(ngModel)]="typedData.username"
                name="username"
                required matInput placeholder="Enter here">
            </mat-form-field>

            <!-- password field -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>new Password</mat-label>
              <input
                [(ngModel)]="typedData.password"
                name="password"
                type="password" required matInput placeholder="Enter here">

            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>confirm Password</mat-label>
              <input
                [(ngModel)]="typedData.confirmpassword"
                name="confirmpassword"
                type="password" required matInput placeholder="Enter here">

            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
